# dependencies
beautifulsoup4
colorama
md2pdf
python-dotenv
pyyaml
uvicorn
pydantic
fastapi
python-multipart
markdown
langchain
langchain_community
langchain-openai
langchain-ollama
langgraph
tiktoken
gpt-researcher
arxiv
PyMuPDF
requests
jinja2
aiofiles
langchain_google_genai
mistune
python-docx
htmldocx
lxml_html_clean
websockets
unstructured
json_repair
json5
loguru
streamlit 
requests 
newspaper3k 
google-generativeai 
lxml[html_clean] 
pandas 
beautifulsoup4
PyPDF2 
nltk

# uncomment for testing
# pytest
# pytest-asyncio
